<nav class="navbar navbar-expand-lg" style="background-color: #6F4F37;" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- Points right to root -->
      <a class="navbar-brand text-light" routerLink="/">Museums</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-light" routerLink="/museums">List of Museums</a>
          <a class="nav-link text-light" routerLink="/addMuseum">Add a Museums</a>
        </div>
      </div>
    </div>
  </nav>
  