<section class="col-lg-6" id="editSection">
    <h1>Edit</h1>
    <ul id="edit">
        <li *ngFor="let museum of MUSEUMS">
            <fieldset>
                <label for="name">Name: * </label>
                <input required [(ngModel)]="name">    
            </fieldset>
            <fieldset>
                <label for="name">Admission Price : * </label>
                <input required [(ngModel)]="admissionPrice">    
            </fieldset>
            <fieldset>
                <label for="name">Location: * </label>
                <input required [(ngModel)]="location">    
            </fieldset>
            <fieldset id="toursInfo">
                <div *ngFor="let tour of tours">
                    <label for="tourName">Tour Name: *</label>
                    <input [(ngModel)]="tour.tourName">
                    <label for="tourGuide">Tour Guide: *</label>
                    <input [(ngModel)]="tour.tourGuide">
                    <label for="duration">Duration: *</label>
                    <input [(ngModel)]="tour.duration">
                </div>
            </fieldset>
        </li>
    </ul>
</section>
<h5 [ngClass]="messageClass"> {{message}} </h5>
<button (click)="update()">Save</button>
<a routerLink="/museum" class="backBtn">Back</a>
